/* Navbar Scoped */
#webnegivation {
  color: #111827;
  /* position: sticky !important; */
  top: 0px;
  z-index: 99;
  background-color: #f4f7fe;
}

#webnegivation .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem 15px 2rem;

}

#webnegivation .nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

#webnegivation .nav-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #111827;
  cursor: pointer;
}

#webnegivation .nav-links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0px;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

#webnegivation .nav-links li a {
  text-decoration: none;
  color: #111827;
  font-size: 1rem;
  transition: color 0.3s ease;
}

#webnegivation .nav-links li a:hover {
  color: #4318FF;
  /* amber-500 hover */
}

#webnegivation .login-btn {
  background: #4f46e5;
  color: #fff !important;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}



/* Responsive at 990px */
@media (max-width: 990px) {
  #webnegivation .nav-toggle {
    display: block;
  }
#webnegivation .nav-container
{
  padding-left: 0px !important;
  padding-right: 9px !important;
}
  #webnegivation .nav-links {
    position: absolute;
    top: 91px;
    left: 0;
    z-index: 999;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px !important;
    background: #ffffff;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    border-top: 1px solid #e5e7eb;
  }

  #webnegivation .nav-links.active {
    max-height: 500px;
    opacity: 1;
    padding: 1rem 0;
  }

  #webnegivation .nav-links li {
    padding: 0.75rem 0;
    text-align: center;
  }

  #webnegivation .nav-links {
    gap: 1rem;
  }
}

/* Scroll To Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background: #1e3cfa;
  color: white;
  padding: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Floating animation */
  animation: float 2s ease-in-out infinite;
  transition: transform 0.3s;
}

.scroll-to-top:hover {
  transform: scale(1.2) rotate(15deg);
}

/* Floating keyframes */
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}